@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #47185c;
}

.container{
    display: grid;
    place-items: center;
    height: 100vh;
}

.box{
    padding: 20px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
}

.upper, form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    margin-top: 10px;
    gap: 10px;
}

form input {
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 0.5px solid black;
}

form input:focus-visible{
    border: 1px solid #47185c;
    outline: 1px solid #47185c;
}

form button{
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    background-color: #47185c;
    color: white;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

form button:hover{
    background-color: black;
    color: white;
}

.upper h1{
    font-size: 35px;
    font-weight: 600;
    line-height: 32px;
}

.qrContainer{
    border: 1px solid #47185c;
    display: flex;
    justify-content: center;
    height: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in, height 0.1s ease;
}

.qrContainer.show{
    padding: 30px;
    height: 220px;
    opacity: 1;
    transition: opacity 0.3s ease-in, height 0.1s ease;
}

.qrContainer img{
    height: 150px;
}